html{
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }
  
  br {
    display: block; 
    content: ""; 
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/img/Lombarti12.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: fixed;

  }
    h1, h2, h3, h4, h5{
      margin:1px;
      padding:2px;
    }

  .logo {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    translate: -50%;
    display: block;
  }
  
  .päis {
    background-color: rgba(51,51,51,0.5);
    padding: 1px;
    text-align: center;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    color: #eee;
  }
  
  .veerg {
    float: left;
    padding: 10px;
    height: 500px; /* muutlik? */
  }
  
  /* vasakpoolne ja parempoolne veerg on 25% lehe laiusest */
  .veerg.ääred {
    margin-top: 46px;
    width: 25%;
  }
  
  /* keskmine veerg 50% lehe laiusest */
  .veerg.keskmine {
    margin-top:46px;
    width: 50%;
  }
  
  .rida:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .jalus {
    background-color: rgba(51,51,51,0.8);
    color: #eee;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .jalus-alus {
    background: #000;
    padding: 10px;
    padding-bottom: 60px;
    text-align: center;


  }

  .jalus-alus p{
    float: left;
    color: #eee;
    font-family: 'Playfair Display', serif;
 }

 .jalus-nupp {
    float:right;
    padding: 10px;
    font-family: 'Playfair Display', serif;
 }

  /* dünaamiline kujundus - veerud vastavalt vajadusele liiguvad */
  @media (max-width: 600px) {
    .veerg.ääred, .veerg.keskmine {
      width: 100%;
    }
  }

   /* The navigation menu */
  .navbar {
    overflow: hidden;
    background-color: rgba(51,51,51,0.8);
  }

  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }

  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #c9232b;
  }

  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 8px;
    background-color: #c9232b;
    width: 99.2%;
    z-index: 1;
  }

  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }

  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  .sotsiaalmeedia{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }

  .sotsiaalmeedia li{
    margin: 0 10px;
  }

  .sotsiaalmeedia a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }

  .sotsiaalmeedia a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  }

  .sotsiaalmeedia a:hover i{
    color: aqua;
  }


@keyframes fadePageIn{
  from{opacity:0;}
  to{opacity:100%;}
}

@keyframes fadeVideoOut{
  from{opacity:100%}
  to{opacity:50%;}
}
.allButFooter { /*https://stackoverflow.com/questions/8824831/make-div-stay-at-bottom-of-pages-content-all-the-time-even-when-there-are-scrol*/
  min-height: calc(100vh - 40px);
}
