
/*https://www.w3schools.com/howto/howto_js_accordion.asp*/
.accordion {
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 65%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
    font-size: 18px;
    font-weight: bold;

}
.active, .accordion:hover {
    background-color: #ccc;
    
}
  
.panel {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    width: 65%;    
}
.panel p{
    color: #eee;
    line-height: 1.6;

}
.accordion:after {
    content: '\02795'; /* pluss */
    font-size: 13px;

    float: right;
    
}
  
.active:after {
    content: "\2796"; /* miinus */
    background-color: #ccc;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 46px;

}
.allButFooter {
    min-height: calc(100vh - 40px);
}
