
h2{
    color: white;
}
.freya{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    animation: slideParemalt;
    animation-duration: 1s;
}

.marion{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    animation: slideVasakult;
    animation-duration: 1s;
}

.lumilee{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    animation: slideParemalt;
    animation-duration: 1s;
}

.freyapilt{
    margin-top: 3%;
    margin-bottom: 6%;
    margin-right: 3%;
    margin-left: 7%;
    justify-content: right;
    flex-basis:85%;

}
.marionpilt{
    margin-top: 5%;
    margin-bottom: 4%;
    margin-right: 5%;
    margin-left: 3%;
    justify-content: left;
    flex-basis:70%;
}

.lumileepilt{
    margin-top: 5%;
    margin-bottom: 6%;
    margin-right: 5%;
    margin-left: 3%;
    justify-content: left;
    flex-basis:50%;
}

.freyatekst{
    font-size: medium;
    color:lightgray;
    margin-left:3%;
}

.mariontekst{
    font-size: medium;
    color:lightgray;
    margin-right:3%;
}

.lumileetekst{
    font-size: medium;
    color:lightgray;
    margin-left:3%;
}

.endised{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    animation: slideVasakult;
    animation-duration: 1s; 
}

.endisedtekst{
    font-size: medium;
    color:lightgray;
    margin-left:3%;
    margin-bottom:4%;
}

img{
    max-width:100%;
    border-radius: 10%;
}

@keyframes slideParemalt{
    from{opacity: 0; padding-left:10%;}
    to{opacity: 100; padding-left:0%;}
}

@keyframes slideVasakult {
    from{opacity: 0; padding-right:10%;}
    to{opacity: 100; padding-right:0%;}
}