
.freya{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    animation: slideParemalt;
    animation-duration: 1s;
}

.marion{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    animation: slideVasakult;
    animation-duration: 1s;
}

.lumilee{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    animation: slideParemalt;
    animation-duration: 1s;
}

.freyapilt{
    margin-top: 5%;
    margin-bottom: 6%;
    margin-right: 5%;
    margin-left: 7%;
    justify-content: right;
    flex-basis:50%;

}
.marionpilt{
    margin-top: 5%;
    margin-bottom: 6%;
    margin-right: 5%;
    margin-left: 3%;
    justify-content: left;
    flex-basis:50%;
}

.lumileepilt{
    margin-top: 5%;
    margin-bottom: 6%;
    margin-right: 5%;
    margin-left: 3%;
    justify-content: left;
    flex-basis:50%;
}

.freyatekst{
    color:white;
    margin-left:3%;
}

.lumileetekst{
    margin-left:3%;
}

img{
    max-width:100%;
    border-radius: 10%;
}

@keyframes slideParemalt{
    from{opacity: 0; padding-left:10%;}
    to{opacity: 100; padding-left:0%;}
}

@keyframes slideVasakult {
    from{opacity: 0; padding-right:10%;}
    to{opacity: 100; padding-right:0%;}
}